# Basics Python

## 1. Data Type

### Int

In [1]:
# int
i1 = 1
i2 = 10
i3 = -1000
i4 = int(1000)
i5 = int("1000")

In [2]:
print(f"{i1 = }")
print(f"{i2 = }")
print(f"{i5 = }")

i1 = 1
i2 = 10
i5 = 1000

### Float

In [3]:
# float
f1 = 10.10
f2 = 0.000001
f3 = float(10)

In [4]:
print(f"{f1 = }")
print(f"{f2 = }")
print(f"{f3 = }")

f1 = 10.1
f2 = 1e-06
f3 = 10.0

### String

In [8]:
s1 = "My Text"
s2 = 'It is text'
s3 = f"my text with {i1}"
s4 = f" s1 has type - {type(s1)}"

In [9]:
print(f"{s1 = }")
print(f"{s2 = }")
print(f"{s3 = }")
print(f"{s4 = }")

s1 = 'My Text'
s2 = 'It is text'
s3 = 'my text with 1'
s4 = " s1 has type - <class 'str'>"

### List

In [33]:
my_list1 = [1, 2, 3, 4, 5]
my_list2 = ["A", "B", "C", my_list1]
my_list3 = ["A", "B", 1, 2, 3, 4, 5, 9.0]

In [34]:
print(f"{my_list1 = }")
print(f"{my_list2 = }")
print(f"{my_list3 = }")
print(type(my_list1))

my_list1 = [1, 2, 3, 4, 5]
my_list2 = ['A', 'B', 'C', [1, 2, 3, 4, 5]]
my_list3 = ['A', 'B', 1, 2, 3, 4, 5, 9.0]
<class 'list'>

### Set

In [10]:
my_set1 = {1, 2, 3, 4, 5, 5, 5, 5, 5}
my_set2 = {'A', 'B', 'C'}
my_set3 = {1, 2, 3, 'A', 'B', 'C'}
my_set4 = {1, 'A', 3, 'B', 'C', 10.24}

In [11]:
print(f"{my_set1 = }")
print(f"{my_set2 = }")
print(f"{my_set3 = }")
print(f"{my_set4 = }")

my_set1 = {1, 2, 3, 4, 5}
my_set2 = {'C', 'B', 'A'}
my_set3 = {'B', 1, 2, 3, 'C', 'A'}
my_set4 = {'B', 1, 3, 10.24, 'C', 'A'}

### Tuple

In [42]:
my_tuple = (1, 2, "A", "B", "C", 1)
my_tuple_1 = 1, 2, "A", 1

In [44]:
print(type(my_tuple))
print(f"{ my_tuple = }")
print(f"{ my_tuple_1 = }")

<class 'tuple'>
 my_tuple = (1, 2, 'A', 'B', 'C', 1)
 my_tuple_1 = (1, 2, 'A', 1)

### Dictionary

In [22]:
sales = {
    "Shop1": 90,
    "Shop2": 100,
    "Shop3": 20,
    "Shop4": 10
}

In [23]:
print(f"{ sales = }")
print(f"{ sales['Shop2'] = }")

 sales = {'Shop1': 90, 'Shop2': 100, 'Shop3': 20, 'Shop4': 10}
 sales['Shop2'] = 100

## 2. Operations

### 2.1 Arithmetic operations

In [25]:
i1 = 90 
i2 = 10
sum_2_ints = i1 + i2

print(f"{ sum_2_ints = }")

 sum_2_ints = 100

In [29]:
number_1 = 100
number_1 = number_1 / 2

print(f"{ number_1 = }")

 number_1 = 50.0

In [31]:
number_1 /= 2
number_1

12.5

In [36]:
multiply = 2 * 2

print(f"{ multiply = }")

 multiply = 4

In [41]:
sum_floats = 10.25 + 11.125

print(f"{ sum_floats = }")

 sum_floats = 21.375

### 2.2 List Operations

In [42]:
list_1 = [1, 2, 3, 4]
list_2 = [3, 4, 5, "X"]
sum_2_list = list_1 + list_2

print(f"{ sum_2_list = }")

 sum_2_list = [1, 2, 3, 4, 3, 4, 5, 'X']

In [47]:
list_1 = [1, 2, 3, 4]
print(f"{ list_1 = }")

list_1[0] = "_New_"
print(f"{ list_1 = }")

print(f"{ list_1[2] = }")

 list_1 = [1, 2, 3, 4]
 list_1 = ['_New_', 2, 3, 4]
 list_1[2] = 3

In [48]:
list_1 = [1, 2, 3, 4]
list_1[1] + list_1[2] + list_1[3]

9

### 2.3 Set Operations

In [49]:
set_1 = {"A", "B", "C", "D"}
set_2 = {1, 2, 3, 4, 5, 6}

new_set = set()

new_set.update(set_1)
new_set.update(set_2)


print(f"{ new_set = }")

 new_set = {1, 2, 3, 4, 5, 6, 'C', 'A', 'D', 'B'}

In [51]:
my_new_list = [1, 2, 3]         # List
my_new_tuple = (1, 2, 3)        # Tuple

my_new_list[0] = 1234
# my_new_tuple[0] = 1234    # NOT WORKING!!!! It's TUPLE

print(f"{ my_new_list = }")
print(f"{ my_new_tuple = }")

 my_new_list = [1234, 2, 3]
 my_new_tuple = (1, 2, 3)

In [136]:
dict_1 = {
    "a" : 1,
    "b" : 2,
    "c" : 3,
    "d": "MyText",
    "e": "Text_2",
}

dict_2 = {
    "Name1": 1000,
    "Name2": 2000,
    "Name3": 3000,
}

new_dict = dict()

new_dict.update(dict_1) 
new_dict.update(dict_2)
new_dict

{'a': 1,
 'b': 2,
 'c': 3,
 'd': 'MyText',
 'e': 'Text_2',
 'Name1': 1000,
 'Name2': 2000,
 'Name3': 3000}

In [132]:
new_dict["a"] + new_dict["b"]

3

In [143]:
new_dict["d"] + new_dict["e"]

'MyTextText_2'

In [158]:
my_new_text = "Some text 1234567"

In [159]:
my_new_text

'Some text 1234567'

In [160]:
my_new_text[3:7]

'e te'

In [161]:
my_new_text[0:-3]

'Some text 1234'

In [162]:
my_new_text[::-1]

'7654321 txet emoS'

## 3. Loops

### 3.1 For

In [52]:
my_list = [1, 2, 3, "A", "B", "C"]
for i in my_list:
    print(i)

1
2
3
A
B
C

In [168]:
my_list = [1, 2, 3, 4, 5, 6]
sum_of_list = 0
for i in my_list:
    sum_of_list = sum_of_list + i
print(sum_of_list)

21

In [170]:
my_text = "Some text"
for i in my_text:
    print(i)

S
o
m
e

t
e
x
t

In [54]:
sales = {
    "Shop1": 90,
    "Shop2": 100,
    "Shop3": 20,
    "Shop4": 10
}


sales_sum = 0
for i in sales:
   sales_sum += sales[i]
print(sales_sum)

220

### 3.2 While

In [55]:
count = 0
while count < 5:
    count += 1     
    print(count)

1
2
3
4
5

## 4. If...Else

In [57]:
a = 10
b = 5
if a > b:
    print("a > b")

a > b

In [58]:
a = 3
b = 5
if a > b:
    print("This code is NOT running")
print("This code is running")

This code is running

## 5. Functions

## 6. Class